<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SituacionJuridica Mantenimiento</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <th th:insert="~{header}"></th>
</head>
<body>

<br>
<br>

<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center">Crear SituacionJuridica</h1>
            <div class = "card-body">
                <form th:action="@{/situacionesjuridicas}" th:object = "${situacionJuridica}" method="POST">

                    <div class ="form-group">
                        <label>Titulo de la situacion juridica</label>
                        <input
                                type = "text"
                                name = "titulo"
                                th:field = "*{CVTitulo}"
                                class = "form-control"
                                placeholder="Digite el titulo de la situacion juridica"
                                required="El campo titulo es obligatorio"
                                minlength="1"
                                maxlength="50"
                        />
                    </div>

                    <div class ="form-group">
                        <label>Descripcion de la situacion juridica</label>
                        <input
                                type = "text"
                                name = "descripcion"
                                th:field = "*{CVDescripcion}"
                                class = "form-control"
                                placeholder="Digite la descripcion de la situacion juridica"
                                required="El campo descripcion es requerido"
                                minlength="1"
                                maxlength="50"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Agregar
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>