<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tipo Relación Familiar Mantenimiento</title>
	<th th:insert="~{header}"></th>
</head>
<body>

<main class="page registration-page">
	<section class="clean-block clean-form dark">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">Crear Tipo de Relación Familiar</h2>
			</div>
			<form th:action="@{/tiporelacionfamiliar}" th:object="${tiporelacionfamiliar}" method="POST">
				<div class="mb-3"><label class="form-label" for="name">Nombre del  Tipo Relación Familiar</label><input
						id="name" th:field="*{nombre}" class="form-control item" type="text"
						placeholder="Digite el nombre del Tipo de Relación Familiar" required minlength="1" maxlength="50"/></div>
				<div class="mb-3"><label class="form-label" for="name">Descripción del  Tipo Relación Familiar</label><input
						id="name-1" th:field="*{descripcion}" class="form-control item" type="text"
						placeholder="Digite la descripcion del Tipo de Relación Familiar" required minlength="1" maxlength="75"/></div>
				<button class="btn btn-primary" type="submit">Agregar</button>
			</form>
		</div>
	</section>
</main>


</body>
</html>