<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Usuario mantenimiento</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<!--    <th th:include="header" th:fragment="header"></th>-->
    <th th:insert="~{header}"></th>
</head>
<body>

<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills flex-column flex-sm-row">
				<li class="nav-item">
					<a class="nav-link active" href="#">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
				</li>
		
			</ul>
		</div>
	</div>
	
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center">Crear Perfil Victima</h1>
				<div class = "card-body">
					<form th:action="@{/usuarios}" th:object = "${usuario}" method="POST">
						<div class ="form-group">
							<label>Nombre </label>
							<input
							type = "text"
							name = "nombre"
							th:field = "*{CVNombre}"
							class = "form-control"
							placeholder="Digite el nombre del usuario" 
							/>
						</div>
						
						<div class ="form-group">
							<label>Primer Aperllido</label>
							<input
							type = "text"
							name = "apellidos"
							th:field = "*{CVApellidoMaterno}"
							class = "form-control"
							placeholder="Digite los apellidos del Usuario" 
							/>
						</div>

						<div class ="form-group">
							<label>Segundo Apellido</label>
							<input
							type = "text"
							name = "apellidos"
							th:field = "*{CVApellidoPaterno}"
							class = "form-control"
							placeholder="Digite los apellidos del Usuario" 
							/>
						</div>
						
						<div class ="form-group">
							<label>Edad</label>
							<input
							type = "text"
							name = "Edad"
							th:field = "*{CVEdad}"
							class = "form-control"
							placeholder="Digite los apellidos del Usuario" 
							/>
						</div>
						
						<div class ="form-group">
							<label>Genero</label>
							<input
							type = "text"
							name = "Genero"
							th:field = "*{CVGenero}"
							class = "form-control"
							placeholder="Digite los apellidos del Usuario" 
							/>
						</div>

						<div class ="form-group">
							<label>Lugar de Nacimiento</label>
							<input
							type = "text"
							name = "LugarNac"
							th:field = "*{CVLugarNac}"
							class = "form-control"
							placeholder="Digite los apellidos del Usuario" 
							/>
						</div>

						<div class ="form-group">
							<label>Orientacion Sexual</label>
							<input
							type = "text"
							name = "OrientaSex"
							th:field = "*{CVOrientaSex}"
							class = "form-control"
							placeholder="Digite los apellidos del Usuario" 
							/>
						</div>
						
						<div class ="form-group">
							<label>Nacionalidad</label>
							<input
							type = "text"
							name = "nacionalidad"
							th:field = "*{CVNacionalidad}"
							class = "form-control"
							placeholder="Digite la nacionalidad de la victima" 
							maxlength="50"
                   		 	required
							/>
						</div>
						
						<div class ="form-group"> 
								<label>Educación</label>
							<select th:field="*{CVOrientaSex}">
   							 	<option th:value="'1'" th:text="Primera Infancia"></option>
  							 	<option th:value="'2'" th:text="Preescolar"></option>
  							 	<option th:value="'3'" th:text="Primaria"></option>
  							 	<option th:value="'4'" th:text="Secundaria baja"></option>
  							 	<option th:value="'5'" th:text="Secundaria alta"></option>
  							    <option th:value="'6'" th:text="Postsecundaria no terciaria"></option>
  							    <option th:value="'3'" th:text="Terciaria"></option>
  							 	<option th:value="'4'" th:text="Grado"></option>
  							 	<option th:value="'5'" th:text="Maestria"></option>
  							    <option th:value="'6'" th:text="Doctorado"></option>  
  							    <option th:value="'6'" th:text="Se desconoce"></option>   
							</select>
						</div>
						
						<div class ="form-group">
							<label>Ocupación</label>
							<input
							type = "text"
							name = "Ocupacion"
							th:field = "*{CVOcupacion}"
							class = "form-control"
							placeholder="Digite la ocupacion de la victima" 
							maxlength="50"
                   		 	required
							/>
						</div>
						
						<div class ="form-group">
							<label>Domicilio</label>
							<input
							type = "text"
							name = "domicilio"
							th:field = "*{CVDomicilio}"
							class = "form-control"
							placeholder="Digite el domicilio de la victima" 
							maxlength="100"
                   		 	required
							/>
						</div>
						
						<div class ="form-group">
							<label>Lugar de residencia</label>
							<input
							type = "text"
							name = "lugarResidencia"
							th:field = "*{CVLugarResidencia}"
							class = "form-control"
							placeholder="Digite el lugar de residencia de la victima" 
							maxlength="100"
                   		 	required
							/>
						</div>
						
						<div class ="form-group">
							<label>Discapacidad</label>
							<input
							type = "text"
							name = "discapacidad"
							th:field = "*{CVDiscapacidad}"
							class = "form-control"
							placeholder="Digite si la victima tiene alguna discapacidad" 
							maxlength="50"
                   		 	required
							/>
						</div>
						
						<div class ="form-group">
							<label>Condicion migratoria</label>
							<input
							type = "text"
							name = "condicionMigratoria"
							th:field = "*{CVCondicionMigratoria}"
							class = "form-control"
							placeholder="Digite la condicion migratoria de la victima" 
							maxlength="50"
                   		 	required
							/>
						</div>
						
						<div class ="form-group">
							<label>Etnia</label>
							<input
							type = "text"
							name = "etnia"
							th:field = "*{CVEtnia}"
							class = "form-control"
							placeholder="Digite la etnia de la victima" 
							maxlength="50"
                   		 	required
							/>
						</div>
						
						<div class ="form-group">
							<label>Medidas de protección</label>
							<input
							type = "text"
							name = "medidasProteccion"
							th:field = "*{CVMedidasProteccion}"
							class = "form-control"
							placeholder="Digite las medidas de proteccion de la victima" 
							maxlength="50"
                   		 	required
							/>
						</div>
						
						<div class ="form-group">
							<label>Denuncias previas</label>
							<input
							type = "text"
							name = "denunciaPrevias"
							th:field = "*{CVDenunciasPrevias}"
							class = "form-control"
							placeholder="Digite si la victima posee denuncias previas" 
							maxlength="50"
                   		 	required
							/>
						</div>
						
						<div class ="form-group"> 
								<label>Hijos</label>
							<select th:field="*{CIHijos}">
   							 	<option th:value="'1'" th:text="Si"></option>
  							 	<option th:value="'2'" th:text="No"></option>
  							 	</select>
						</div>
						
						<div class ="form-group">
							<label>Generador</label>
							<input
							type = "text"
							name = "generador"
							th:field = "*{CVGenerador}"
							class = "form-control"
							placeholder="Digite información para identificar al organismo que genera los datos de la victima" 
							maxlength="50"
                   		 	required
							/>
						</div>


				
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Agregar
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>