<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Victima Mantenimiento</title>
	<th th:insert="~{header}"></th>
</head>
<body onload="noBack();">

<main class="page registration-page">
	<section class="clean-block clean-form dark">
		<div class="container justify-content-center">
			<div class="block-heading">
				<h2 class="text-info">Actualizar Victima</h2>
			</div>
			<form th:action="@{/victimas/{id} (id=${victima.CI_Id})}" th:object="${victima}" method="post" class="mw-100 m-3">
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Idetificación de la victima</label><input
								th:name="dni" th:field="*{CVDNI}" id="name" class="form-control item" type="text"
								minlength="1" maxlength="50" 
								placeholder="Digite la cedula de la victima" pattern="[0-9]+"/></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Nombre de la victima</label><input
								th:name="nombre" th:field="*{CVNombre}" id="name-1" class="form-control item"
								type="text" minlength="1" maxlength="50" 
								placeholder="Digite el nombre de la victima"/></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Apellido Paterno de la
							victima</label><input th:name="apellidoPaterno" th:field="*{CVApellidoPaterno}" id="name-2"
												  class="form-control item" type="text" minlength="1"
												  maxlength="50" 
												  placeholder="Digite el apellido paterno de la victima"/></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Apellido Materno de la
							victima</label><input th:name="apellidoMaterno" th:field="*{CVApellidoMaterno}" id="name-3"
												  class="form-control item" type="text" minlength="1"
												  maxlength="50" 
												  placeholder="Digite el apellido materno de la victima"/></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Edad de la victima</label><input
								th:name="edad" th:field="*{CIEdad}" id="name-4" class="form-control item" type="text"
								minlength="1" maxlength="50" 
								placeholder="Digite la edad de la victima" pattern="[0-9]+"/></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Lugar de nacimiento de la
							victima</label><input th:name="lugarNacimiento" th:field="*{CVLugarNac}" id="name-5"
												  class="form-control item" type="text" minlength="1"
												  maxlength="50" 
												  placeholder="Digite el lugar de nacimiento de la victima"/></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Nacionalidad de la
							victima</label><input th:name="nacionalidad" th:field="*{CVNacionalidad}" id="name-6"
												  class="form-control item" type="text" minlength="1"
												  maxlength="50" 
												  placeholder="Digite la nacionalidad de la victima"/></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Condicion migratoria de la
							victima</label><input th:name="condicionMigratoria" th:field="*{CVCondicionMigratoria}"
												  id="name-7" class="form-control item" type="text" minlength="1"
												  maxlength="50" 
												  placeholder="Digite la condicion migratoria de la victima"/></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Lugar de residencia de la
							victima</label><input th:name="lugarResidencia" th:field="*{CVLugarResidencia}" id="name-8"
												  class="form-control item" type="text" minlength="1"
												  maxlength="50"
												  placeholder="Digite el lugar de residencia del imputado"/></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Ocupacion de la
							victima</label><input th:name="ocupacion" th:field="*{CVOcupacion}" id="name-9"
												  class="form-control item" type="text" minlength="1"
												  maxlength="50" 
												  placeholder="Digite la ocupacion de la victima"/></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Domicilio de la
							victima</label><input th:name="domicilio" th:field="*{CVDomicilio}" id="name-10"
												  class="form-control item" type="text" minlength="1"
												  maxlength="50" 
												  placeholder="Digite el domicilio de la victima"/></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Hijos de la victima</label><input
								th:name="hijos" th:field="*{CIHijos}" id="name-11" class="form-control item" type="text"
								minlength="1" maxlength="50" 
								placeholder="Digite los hijos de la victima" pattern="[0-9]+"/></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Etnia de la victima</label><input
								th:name="etnia" th:field="*{CVEtnia}" id="name-12" class="form-control item" type="text"
								minlength="1" maxlength="50" 
								placeholder="Digite la etnia de la victima"/></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Discapacidad de la
							victima</label><input th:name="discapacidad" th:field="*{CVDiscapacidad}" id="name-13"
												  class="form-control item" type="text" minlength="1"
												  maxlength="50" 
												  placeholder="Digite la discapacidad de la victima"/></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione la identidad de genero
							del imputado</label><select th:name="identidadGenero" th:field="*{CVGenero}" id="name-14"
														class="form-select" >
							<optgroup label="Identidades de genero">
								<option th:each="identidad: ${identidadGenero}" th:value="${identidad.id}"
										th:text="${identidad.nombre}"></option>
							</optgroup>
						</select></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione la orientacion sexual del
							imputado </label><select th:name="orientacionSexual" th:field="*{CVOrientaSex}" id="name-15"
													 class="form-select" >
							<optgroup label="Orientaciones Sexuales">
								<option th:each="orientacionsexual: ${orientacionSexual}"
										th:value="${orientacionsexual.CI_Codigo}"
										th:text="${orientacionsexual.CVTitulo}"></option>
							</optgroup>
						</select></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione el nivel educativo de la
							victima</label><select th:name="nivelEducativo" th:field="*{CIEducacion}" id="name-16"
												   class="form-select" >
							<optgroup label="Niveles educativos">
								<option th:each="educacion: ${nivelEducativo}" th:value="${educacion.CI_Id}"
										th:text="${educacion.CVTitulo}"></option>
							</optgroup>
						</select></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione si solicitó medidas de
							proteccion</label><select th:name="medidasProteccion" th:field="*{CVMedidasProteccion}" id="name-17" class="form-select" >
							<optgroup label="Medida de proteccion">
								<option th:value="Si">Si</option>
								<option th:value="No">No</option>
							</optgroup>
						</select></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione si puso denuncias
							previas</label><select th:name="denunciaPrevia" th:field="*{CVDenunciasPrevias}" id="name-18" class="form-select" >
							<optgroup label="Denuncia previa">
								<option th:value="Si">Si</option>
								<option th:value="No">No</option>
							</optgroup>
						</select></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione el organismo generador de
							datos</label><select th:name="organismo" th:field="*{CVGenerador}" id="name-19"
												 class="form-select" >
							<optgroup label="Organismos">
								<option th:each="organismo: ${listaOrganismo}" th:value="${organismo.CVNombre}"
										th:text="${organismo.CI_Id} + ' - ' + ${organismo.CVNombre}"></option>
							</optgroup>
						</select></div>
					</div>
				</div>


				</div>




				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="d-flex justify-content-center mb-3 mx-3">
							<button class="btn btn-primary" type="submit">Actualizar</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</main>

<script type="text/javascript">
	//Para que no pueda retroceder una vez editó el imputado
	// y en la etiqueta body arriba se agrega el evento onload="noBack();"

function noBack() {
	window.history.forward();
}

window.onload = noBack;
window.onpageshow = function(evt) {
	if (evt.persisted) noBack();
};
window.onunload = function() {
	null;
};
</script>
<!--<div class="row">-->
<!--		<div class="col-md-12">-->
<!--			<ul class="nav nav-pills flex-column flex-sm-row">-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link active" href="#">Inicio</a>-->
<!--				</li>-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link" th:href="@{/victima}">Victima</a>-->
<!--				</li>-->
<!--		-->
<!--			</ul>-->
<!--		</div>-->
<!--	</div>-->
<!--<br>-->
<!--<br>-->
<!--	<div class = "container">-->
<!--		<div class = "row">-->
<!--			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">-->
<!--				<h1 class = "text-center"> Actualizar victima </h1>-->
<!--				<div class = "card-body">-->
<!--					<form th:action="@{/victima/{id} (id=${victima.CI_Id})}" th:object = "${victima}" method="POST">-->
<!--					-->
<!--					-->
<!--							-->
<!--							<div class ="form-group">-->
<!--						<label>Cedula</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "cedula"-->
<!--							th:field = "*{CVDNI}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite la cedula de la victima" -->
<!--							maxlength="10"-->
<!--                   		 	required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--					-->
<!--						<div class ="form-group">-->
<!--							<label>Nombre </label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "nombre"-->
<!--							th:field = "*{CVNombre}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite el nombre de la victima" -->
<!--							maxlength="50"-->
<!--                   		 	required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Apellido Paterno</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "apellidoPaterno"-->
<!--							th:field = "*{CVApellidoPaterno}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite el apellido Paterno de la victima" -->
<!--							maxlength="50"-->
<!--                   		 	required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Apellido Materno</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "apellidoMaterno"-->
<!--							th:field = "*{CVApellidoMaterno}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite el apellido Materno de la victima" -->
<!--							maxlength="50"-->
<!--                   		 	required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Edad</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "Edad"-->
<!--							th:field = "*{CIEdad}"-->
<!--							class = "form-control"-->
<!--							placeholder="Edad de la victima" -->
<!--							maxlength="10"-->
<!--                   		 	required-->
<!--							/>-->
<!--						</div>-->
<!--		-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Seleccione la identidad de genero de la victima:</label>-->
<!--							<select name="identidad" th:field="*{CVGenero}" class = "form-control" onfocus="ocultarError()">-->
<!--								<option th:each="identidad: ${identidadGenero}" th:value="${identidad.Id}" th:text="${identidad.nombre}"></option>-->
<!--							</select>-->
<!--						</div>-->
<!--		-->
<!--		-->
<!--		-->
<!--		-->
<!--						<div class ="form-group">-->
<!--							<label>Seleccione la orientacion sexual de la victima:</label>-->
<!--							<select name="orientacion_sexual" th:field="*{CVOrientaSex}" class = "form-control" onfocus="ocultarError()">-->
<!--								<option th:each="orientacionSexual: ${orientacionSexual}" th:value="${orientacionSexual.CI_Codigo}" th:text="${orientacionSexual.CVTitulo}"></option>-->
<!--							</select>-->
<!--						</div>-->
<!--						-->
<!--							-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Lugar de Nacimiento</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "Lugar de Nacimiento"-->
<!--							th:field = "*{CVLugarNac}"-->
<!--							class = "form-control"-->
<!--							placeholder="Lugar de nacimiento de la victima" -->
<!--							maxlength="100"-->
<!--                   		 	required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						-->
<!--							-->
<!--						<div class ="form-group">-->
<!--							<label>Nacionalidad</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "nacionalidad"-->
<!--							th:field = "*{CVNacionalidad}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite la nacionalidad de la victima" -->
<!--							maxlength="50"-->
<!--                   		 	required-->
<!--							/>-->
<!--						</div>-->
<!--						-->

<!--         <div class ="form-group">-->
<!--							<label>Seleccione el nivel educativo de la victima:</label>-->
<!--							<select name="educacion" th:field="*{CIEducacion}" class = "form-control" onfocus="ocultarError()">-->
<!--								<option th:each="educacion: ${nivelEducativo}" th:value="${educacion.CI_Id}" th:text="${educacion.CVTitulo}"></option>-->
<!--							</select>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Ocupación</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "Ocupacion"-->
<!--							th:field = "*{CVOcupacion}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite la ocupacion de la victima" -->
<!--							maxlength="50"-->
<!--                   		 	required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Domicilio</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "domicilio"-->
<!--							th:field = "*{CVDomicilio}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite el domicilio de la victima" -->
<!--							maxlength="100"-->
<!--                   		 	required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Lugar de residencia</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "lugarResidencia"-->
<!--							th:field = "*{CVLugarResidencia}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite el lugar de residencia de la victima" -->
<!--							maxlength="100"-->
<!--                   		 	required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Discapacidad</label>-->
<!--						-->
<!--						<select th:field="*{CVDiscapacidad}">-->
<!--   							 	<option value="Visual">Visual</option>-->
<!--   							 	<option value="Auditiva">Auditiva</option>-->
<!--   							 	<option value="Motriz">Motriz</option>-->
<!--   							 		<option value="Multiple">Multiple</option>-->
<!--   							 	<option value="Intelectual">Intelectual</option>-->
<!--   							 	<option value="Fisica">Fisica</option>-->
<!--   							 	<option value="Otro">Otro</option>-->
<!--   							 -->
<!--  							 -->
<!--  							 	</select>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Condicion migratoria</label>-->
<!--						-->
<!--							<select th:field="*{CVCondicionMigratoria}">-->
<!--   							 	<option value="REGULAR">Regular</option>-->
<!--   							 	<option value="IRREGULAR">Irregular</option>-->
<!--   							 	<option value="REFUGIADO">Refugiado</option>-->
<!--   							 	<option value="APATRIDA">Apatrida</option>-->
<!--   							 	<option value="OTRO">Otro</option>-->
<!--   							 -->
<!--  							 -->
<!--  							 	</select>-->
<!--							-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Etnia</label>-->
<!--							<select th:field="*{CVEtnia}">-->
<!--   							 	<option value="Asiatico">Asiatico</option>-->
<!--   							 	<option value="Blanco">Blanco</option>-->
<!--   							 	<option value="Negro">Negro</option>-->
<!--   							 	<option value="Indigena">Indigena</option>-->
<!--   							 	<option value="Se desconoce">Se desconoce</option>-->
<!--   							 -->
<!--  							 -->
<!--  							 	</select>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Medidas de protección</label>-->
<!--							-->
<!--							<select th:field="*{CVMedidasProteccion}">-->
<!--   							 	<option value="SI" >SI</option>-->
<!--  							 	<option value="NO">No</option>-->
<!--  							 	</select>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Denuncias previas</label>-->
<!--							-->
<!--							-->
<!--							-->
<!--							<select th:field="*{CVDenunciasPrevias}">-->
<!--   							 	<option value="SI" >SI</option>-->
<!--  							 	<option value="NO">No</option>-->
<!--  							 	</select>-->
<!--						</div>-->
<!--							-->
<!--						-->
<!--							<div class ="form-group">-->
<!--							<label>Hijos</label>-->
<!--							<input-->
<!--							type = "number"-->
<!--							name = "hijos"-->
<!--							th:field = "*{CIHijos}"-->
<!--							class = "form-control"-->
<!--							placeholder="Cantidad de hijos" -->
<!--							maxlength="15"-->
<!--							pattern="[0-9]"-->
<!--                    		required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						-->
<!--					<div class ="form-group">-->
<!--							<label>Organismo generador</label>-->
<!--							<select name="generador" th:field="*{CVGenerador}" class = "form-control" onfocus="ocultarError()">-->
<!--								<option th:each="organismo: ${listaOrganismo}" th:value="${organismo.CI_Id}" th:text="${organismo.CI_Id} + ' - ' + ${organismo.CVNombre}"></option>-->
<!--							</select>-->
<!--						</div>-->
<!--						-->
<!--						-->
<!--							-->
<!--						-->
<!--						<div class = "box-footer">-->
<!--							<button type="submit" class = "btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--								Actualizar-->
<!--							</button>-->
<!--							-->
<!--					-->
<!--							-->
<!--							-->
<!--						</div>-->
<!--					</form>-->
<!--				-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
</body>
</html>
