<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Victimas</title>
    <th th:insert="~{header}"></th>
</head>


<body>

<main class="page">
    <section class="p-5">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header py-3">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-5 col-md-6 text-start pt-1 pb-1">
                            <p class="text-primary m-0 fw-bold">Victimas</p>
                        </div>
                        <div class="col-12 col-sm-7 col-md-6 text-end pt-1 pb-1"><a
                                th:href="@{/victimas/new}" class="btn btn-primary btn-sm reset m-1">Crear
                            Victima</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive max-height-table">
                            <table class="table table-striped" id="ipi-table">
                                <thead class="thead-dark">
                                <tr>
                                    <th class="text-center"> Identificación  de la victima </th>
                                    <th class="text-center"> Nombre</th>
                                    <th class="text-center"> Edad </th>
                                    <th class="text-center"> Nacionalidad </th>
                                    <th class="text-center"> Discapacidad </th>
                                    <th class="text-center"> Condicion Migratoria</th>
                                    <th class="text-center"> Etnia</th>
                                    <th class="text-center"> Solicitó medidas de protección</th>
                                    <th class="text-center"> Puso denuncia</th>
                                    <th class="text-center"> Hijos</th>
                                    <th class="text-center"> Generador</th>
                                    <th class="text-center"> Acciones</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                <tr th:each="victima: ${victimas}">
                                    <td th:text="${victima.CVDNI}"></td>
                                    <td th:text="${victima.CVNombre}"></td>
                                    <td th:text="${victima.CIEdad}"></td>
                                    <td th:text="${victima.CVNacionalidad}"></td>
                                    <td th:text="${victima.CVDiscapacidad}"></td>
                                    <td th:text="${victima.CVCondicionMigratoria}"></td>
                                    <td th:text="${victima.CVEtnia}"></td>
                                    <td th:text="${victima.CVMedidasProteccion}"></td>
                                    <td th:text="${victima.CVDenunciasPrevias}"></td>
                                    <td th:text="${victima.CIHijos}"></td>
                                    <td th:text="${victima.CVGenerador}"></td>

                                    <td class="text-center align-middle h-50">
                                        <a class="btn btnMaterial btn-flat success" role="button"
                                           th:href="@{/victimas/edit/{id}(id=${victima.CI_Id})}">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a class="btn btnMaterial btn-flat accent btnNoBorders checkboxHover ms-1"
                                           role="button"
                                           th:href="@{/victimas/{id}(id=${victima.CI_Id})}">
                                            <i class="fas fa-trash btnNoBorders"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <nav>
                        <ul class="pagination pagination-sm mb-0 justify-content-center">
                            <li class="page-item"><a class="page-link" aria-label="Previous"
                                                     th:href="@{/victimas}"><span
                                    aria-hidden="true">«</span></a></li>
                            <li th:each="nPagina : ${nPaginas}" class="page-item"
                                th:class="${PaginaActual == nPaginaStat.count ? 'active' : ''}"><a
                                    th:text="${nPaginaStat.count}"
                                    class="page-link" aria-label="Next"
                                    th:href="@{/victima/{pg}(pg=${nPaginaStat.count})}"><span
                                    aria-hidden="true"></span></a>
                            </li>
                            <li class="page-item"><a class="page-link" aria-label="Next"
                                                     th:href="@{/victima/{pg}(pg=${nPaginas.size()})}"><span
                                    aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <a th:href="@{/victima/pdf}" class="btn btn-primary">Descargar PDF</a>

        <a th:href="@{/victima/excel}" class="btn btn-primary">Descargar Excel</a>

    </section>
</main>


<!-- <div class="container-fluid"> -->
<!-- 	<div class="row"> -->
<!-- 		<div class="col-md-12"> -->
<!-- 			<ul class="nav nav-pills flex-column flex-sm-row"> -->
<!-- 				<li class="nav-item"> -->
<!-- 					<a class="nav-link active" href="#">Inicio</a> -->
<!-- 				</li> -->
<!-- 				<li class="nav-item"> -->
<!-- 					<a class="nav-link" th:href="@{/victima}">Victima</a> -->
<!-- 				</li> -->

<!-- 			</ul> -->
<!-- 		</div> -->
<!-- 	</div> -->

<!-- <div class = "row"> <h1></h1> </div> -->
<!-- <div class = "row"> <h1></h1> </div> -->

<!--<div class="alert alert-primary" role="alert">-->
<!-- Victima-->
<!--</div>-->

<!--	<div class="row">-->
<!--		<div class="col-md-12">-->
<!--			 -->
<!--			 <a th:href = "@{/victima/new}" class = "btn btn-primary btn-lg"> Agregar Victima</a>-->
<!--			 -->
<!--	<div class = "row"> <h1></h1> </div>-->
<!--<div class = "row"> <h1></h1> </div> -->
<!--			-->
<!--			<table class="table table-striped table-sm table-hover">-->
<!--			 -->
<!--				<tr>-->
<!--					<th> Cedula</th>-->
<!--					<th> Nombre</th>-->
<!--					<th> Apellido_Paterno</th>-->
<!--					<th> Apellido_Materno</th>-->
<!--					<th> Edad </th>-->
<!--					<th> Genero </th>-->
<!--					<th> Lugar de Nacimiento </th>-->
<!--					<th> Orientacion Sexual </th>-->
<!--					<th> Nacionalidad </th>-->
<!--					<th> Educacion </th>-->
<!--					<th> Ocupación </th>-->
<!--					<th> Domicilio </th>-->
<!--					<th> Lugar de residencia </th>-->
<!--					<th> Discapacidad </th>-->
<!--					<th> Condicion Migratoria </th>-->
<!--					<th> Etnia </th>-->
<!--					<th> Medidas de protección </th>-->
<!--					<th> Denuncias previas </th>-->
<!--					<th> Hijos </th>-->
<!--					<th> Generador </th>-->
<!--					-->
<!--					<th> Acciones </th>-->
<!--					-->
<!--					-->
<!--				</tr>-->
<!--	-->
<!--			<tbody>-->
<!--				-->
<!--				<tr th:each = "victima: ${victima}">-->
<!--					<td th:text = "${victima.CVDNI}"></td>-->
<!--					<td th:text = "${victima.CVNombre}"></td>-->
<!--					<td th:text = "${victima.CVApellidoPaterno}"></td>-->
<!--					<td th:text = "${victima.CVApellidoMaterno}"></td>-->
<!--					<td th:text = "${victima.CIEdad}"></td>-->
<!--					<td th:text = "${victima.CVGenero}"></td>-->
<!--					<td th:text = "${victima.CVLugarNac}"></td>-->
<!--					<td th:text = "${victima.CVOrientaSex}"></td>-->
<!--					<td th:text = "${victima.CVNacionalidad}"></td>-->
<!--					<td th:text = "${victima.CIEducacion}"></td>-->
<!--					<td th:text = "${victima.CVOcupacion}"></td>-->
<!--					<td th:text = "${victima.CVDomicilio}"></td>-->
<!--					<td th:text = "${victima.CVLugarResidencia}"></td>-->
<!--					<td th:text = "${victima.CVDiscapacidad}"></td>-->
<!--					<td th:text = "${victima.CVCondicionMigratoria}"></td>-->
<!--					<td th:text = "${victima.CVEtnia}"></td>-->
<!--					<td th:text = "${victima.CVMedidasProteccion}"></td>-->
<!--					<td th:text = "${victima.CVDenunciasPrevias}"></td>-->
<!--					<td th:text = "${victima.CIHijos}"></td>-->
<!--					<td th:text = "${victima.CVGenerador}"></td>-->
<!--				-->
<!--					<td>-->
<!--						<a th:href = "@{/victima/edit/{id}(id=${victima.CI_Id})}"-->
<!--						 class = "btn btn-primary">Actualizar</a>-->
<!--						-->
<!--						<a th:href = "@{/victima/{id}(id=${victima.CI_Id})}"-->
<!--						 class = "btn btn-danger">Eliminar</a>-->
<!--						 -->
<!--					</td>-->
<!--				</tr>-->
<!--			</tbody>-->

<!--			</table> -->
<!--			-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->


</body>
</html>
