<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organización Mantenimiento</title>
    <th th:insert="~{header}"></th>
</head>

<body>

    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Crear Organización</h2>
                </div>
                <form th:action="@{/organizacion}" th:object="${organizacion}" method="POST">
                    <div class="mb-3"><label class="form-label" for="name">Nombre</label><input id="name"
                            th:field="*{CVNombre}" class="form-control item" type="text"
                            placeholder="Digite el nombre de la organizacion" required minlength="1" maxlength="50" />
                    </div>

                    <div class="mb-3"><label class="form-label" for="name">Dirección</label><input id="name-1"
                            th:field="*{CVDireccion}" class="form-control item" type="text"
                            placeholder="Digite la direccion de la organizacion" required minlength="1"
                            maxlength="75" /></div>

                    <div class="mb-3"><label class="form-label" for="name">Teléfono</label><input id="name-1"
                            th:field="*{CVTelefono}" class="form-control item" type="text"
                            placeholder="Digite el teléfono de la organizacion" required minlength="1" maxlength="75" />
                    </div>

                    <div class="mb-3"><label class="form-label" for="name">Correo</label><input id="name-1"
                            th:field="*{CVCorreo}" class="form-control item" type="text"
                            placeholder="Digite el correo de la organizacion" required minlength="1" maxlength="75" />
                    </div>

                    <button class="btn btn-primary" type="submit">Agregar</button>
                </form>
            </div>
        </section>
    </main>

</body>

</html>