<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Hecho Organismo mantenimiento</title>
  <script th:src="@{/HechoScripts/HechoScript.js}"></script>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <!--    <th th:include="header" th:fragment="header"></th>-->
  <th th:insert="~{header}"></th>

</head>
<body>

<br>
<br>

<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center">Actualizar Hecho Organismo</h1>
      <div class = "card-body">
        <form th:action="@{/hechoorganismo/{id} (id=${hechoorganismo.CI_Id})}" th:object = "${hechoorganismo}" method="POST">

          <div class ="form-group">
            <label>Seleccione el hecho:</label>
            <select th:name="hechos" th:field="*{CIHecho}" class = "form-control" onfocus="ocultarError()">
              <option th:each="hecho: ${hechos}" th:value="${hecho.CI_Id}" th:text="${hecho.CI_Id}"></option>
            </select>
          </div>

          <div class ="form-group">
            <label>Selecciona el organismo:</label>
            <select th:name="organismos" th:field="*{CIOrganismo}" class = "form-control" onfocus="ocultarError()">
              <option th:each="organismo: ${organismos}" th:value="${organismo.CI_Id}" th:text="${organismo.CI_Id} + ' - '+ ${organismo.CVNombre}"></option>
            </select>
          </div>

          <div id="error-message" th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error_message}"></p>
          </div>

          <div class = "box-footer">
            <button type="submit" class = "btn btn-primary">
              Actualizar
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

</body>
</html>