<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lugar</title>
    <th th:insert="~{header}"></th>
</head>

<body>

    <main class="page">
        <section class="p-5">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header py-3">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-5 col-md-6 text-start pt-1 pb-1">
                                <p class="text-primary m-0 fw-bold">Lugares</p>
                            </div>
                            <div class="col-12 col-sm-7 col-md-6 text-end pt-1 pb-1">
                                <a th:href="@{/lugares/new}" class="btn btn-primary btn-sm reset m-1">Crear
                                    Lugar</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive max-height-table">
                                <table class="table table-striped" id="ipi-table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="text-center">Hecho</th>
                                            <th class="text-center">Descripción</th>
                                            <th class="text-center">Tipo Lugar</th>
                                            <th class="text-center">Provincia</th>
                                            <th class="text-center">Canton</th>
                                            <th class="text-center">Distrito</th>
                                            <th class="text-center">Direccion</th>
                                            <th class="text-center">Ciudad</th>
                                            <th class="text-center">Codigo Postal</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr th:each="lug: ${lugares}">
                                            <td th:text="${lug.CIHecho}"></td>
                                            <td th:text="${lug.CV_Descripcion}"></td>
                                            <td th:text="${tipoLugares.get(lugStat.index).CVTitulo}"></td>
                                            <td th:text="${lug.CVProvincia}"></td>
                                            <td th:text="${lug.CVCanton}"></td>
                                            <td th:text="${lug.CVDistrito}"></td>
                                            <td th:text="${lug.CV_Direccion}"></td>
                                            <td th:text="${lug.CV_Ciudad}"></td>
                                            <td th:text="${lug.CI_Codigo_Postal}"></td>
                                            <td th:if="${lugar}" class="text-center align-middle h-50"><a
                                                    class="btn btnMaterial btn-flat success" role="button"
                                                    th:href="@{/lugares/edit/{id}(id=${lug.CI_Codigo})}"><i
                                                        class="fas fa-pen"></i></a><a
                                                    class="btn btnMaterial btn-flat accent btnNoBorders checkboxHover ms-1"
                                                    role="button" th:href="@{/lugares/{id}(id=${lug.CI_Codigo})}"><i
                                                        class="fas fa-trash btnNoBorders"></i></a>
                                            </td>
                                            <td th:if="${hecholugar}" class="text-center align-middle h-50">
                                                <a class="btn btnMaterial btn-flat accent btnNoBorders checkboxHover ms-1"
                                                    role="button"
                                                    th:href="@{/hecholugares/{id}/{idLugar}(id=${lug.CI_Codigo}, idLugar=${id})}"><i
                                                        class="fas fa-trash btnNoBorders"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div th:if="${lugar}" class="card-footer">
                        <nav>
                            <ul class="pagination pagination-sm mb-0 justify-content-center">
                                <li class="page-item"><a class="page-link" aria-label="Previous"
                                        th:href="@{/lugares}"><span aria-hidden="true">«</span></a></li>
                                <li th:each="nPagina : ${nPaginas}" class="page-item"
                                    th:class="${PaginaActual == nPaginaStat.count ? 'active' : ''}"><a
                                        th:text="${nPaginaStat.count}" class="page-link" aria-label="Next"
                                        th:href="@{/lugar/{pg}(pg=${nPaginaStat.count})}"><span
                                            aria-hidden="true"></span></a>
                                </li>
                                <li class="page-item"><a class="page-link" aria-label="Next"
                                        th:href="@{/lugar/{pg}(pg=${nPaginas.size()})}"><span
                                            aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--                <div th:if="${hecholugar}" class="card-footer">-->
                    <!--                    <nav>-->
                    <!--                        <ul class="pagination pagination-sm mb-0 justify-content-center">-->
                    <!--                            <li class="page-item"><a class="page-link" aria-label="Previous"-->
                    <!--                                                     th:href="@{/hecholugar/{id}(id=${Id})}"><span-->
                    <!--                                    aria-hidden="true">«</span></a></li>-->
                    <!--                            <li th:each="nPagina : ${nPaginas}" class="page-item"-->
                    <!--                                th:class="${PaginaActual == nPaginaStat.count ? 'active' : ''}"><a-->
                    <!--                                    th:text="${nPaginaStat.count}"-->
                    <!--                                    class="page-link" aria-label="Next"-->
                    <!--                                    th:href="@{/hecholugar/{id}/{pg}(id=${id}, pg=${nPaginaStat.count})}"><span-->
                    <!--                                    aria-hidden="true"></span></a>-->
                    <!--                            </li>-->
                    <!--                            <li class="page-item"><a class="page-link" aria-label="Next"-->
                    <!--                                                     th:href="@{/hecholugar/{id}/{pg}(id=${id}, pg=${nPaginas.size()})}"><span-->
                    <!--                                    aria-hidden="true">»</span></a></li>-->
                    <!--                        </ul>-->
                    <!--                    </nav>-->
                    <!--                </div>-->
                </div>
            </div>
            <a th:href="@{/lugar/pdf}" class="btn btn-primary">Descargar PDF</a>

            <a th:href="@{/lugar/excel}" class="btn btn-primary">Descargar Excel</a>
        </section>
    </main>


    <!--<div class="container-fluid">-->
    <!--&lt;!&ndash;  <div class="row">&ndash;&gt;-->
    <!--&lt;!&ndash;    <div class="col-md-12">&ndash;&gt;-->
    <!--&lt;!&ndash;      <ul class="nav nav-pills flex-column flex-sm-row">&ndash;&gt;-->
    <!--&lt;!&ndash;        <li class="nav-item"><a class="nav-link active" href="#">Inicio</a>&ndash;&gt;-->
    <!--&lt;!&ndash;        </li>&ndash;&gt;-->
    <!--&lt;!&ndash;        <li class="nav-item"><a class="nav-link" th:href="@{/lugar}">Lugar</a>&ndash;&gt;-->
    <!--&lt;!&ndash;        </li>&ndash;&gt;-->

    <!--&lt;!&ndash;      </ul>&ndash;&gt;-->
    <!--&lt;!&ndash;    </div>&ndash;&gt;-->
    <!--&lt;!&ndash;  </div>&ndash;&gt;-->

    <!--&lt;!&ndash;  <div class="row">&ndash;&gt;-->
    <!--&lt;!&ndash;    <h1></h1>&ndash;&gt;-->
    <!--&lt;!&ndash;  </div>&ndash;&gt;-->
    <!--&lt;!&ndash;  <div class="row">&ndash;&gt;-->
    <!--&lt;!&ndash;    <h1></h1>&ndash;&gt;-->
    <!--&lt;!&ndash;  </div>&ndash;&gt;-->

    <!--  <div class="alert alert-primary" role="alert">Lugar</div>-->

    <!--  <div class="row">-->
    <!--    <div class="col-md-12">-->
    <!--      <a th:href="@{/lugares/new}" class="btn btn-primary btn-lg">-->
    <!--        Agregar Lugar</a>-->


    <!--      <div class="row">-->
    <!--        <h1></h1>-->
    <!--      </div>-->
    <!--      <div class="row">-->
    <!--        <h1></h1>-->
    <!--      </div>-->


    <!--&lt;!&ndash;      <form th:action="@{/lugar}" method="get">&ndash;&gt;-->
    <!--&lt;!&ndash;        <label for="id">Ingresa el ID:</label>&ndash;&gt;-->
    <!--&lt;!&ndash;        <input type="number" id="id" name="id" th:value="${id}" required>&ndash;&gt;-->
    <!--&lt;!&ndash;        <button type="submit">Buscar</button>&ndash;&gt;-->
    <!--&lt;!&ndash;      </form>&ndash;&gt;-->

    <!--      <form class="form-inline float-right" th:action="@{/lugar}" method="get">-->
    <!--        <div class="form-group mb-2">-->
    <!--          <label>Buscar:</label>-->
    <!--        </div>-->
    <!--        <div class="form-group mx-sm-3 mb-2">-->
    <!--          <input-->
    <!--                  type="number"-->
    <!--                  class="form-control"-->
    <!--                  th:id="id"-->
    <!--                  th:name="id"-->
    <!--                  th:value="${id}"-->
    <!--                  pattern="[0-9]"-->
    <!--                  placeholder="Ingrese el Id Hecho a Buscar"-->
    <!--                  required>-->
    <!--        </div>-->

    <!--        <input type="submit" class="btn btn-primary mb-2" value="Buscar">-->

    <!--&lt;!&ndash;        <input type="button" class="btn btn-secondary mb-2" value="Limpiar" onclick="limpiarCampos()">&ndash;&gt;-->
    <!--        <a th:href = "@{/lugares}"-->
    <!--           class = "btn btn-secondary mb-2">Limpiar</a>-->
    <!--      </form>-->


    <!--      <br>-->


    <!--      <table class="table table-striped table-sm">-->
    <!--        <tr>-->
    <!--          <th>Hecho</th>-->
    <!--          <th>Descripcion</th>-->
    <!--          <th>Tipo Lugar</th>-->
    <!--          <th>Direccion</th>-->
    <!--          <th>Ciudad</th>-->
    <!--          <th>Pais</th>-->
    <!--          <th>Codigo Postal</th>-->
    <!--          <th>Acciones</th>-->
    <!--        </tr>-->

    <!--        <tbody>-->
    <!--        <tr th:each="lug: ${lugar}">-->
    <!--          <td th:text="${lug.CIHecho}"></td>-->
    <!--          <td th:text="${lug.CV_Descripcion}"></td>-->
    <!--          <td th:text="${lug.Titulo}"></td>-->
    <!--          <td th:text="${lug.CV_Direccion}"></td>-->
    <!--          <td th:text="${lug.CV_Ciudad}"></td>-->
    <!--          <td th:text="${lug.CI_Pais}"></td>-->
    <!--          <td th:text="${lug.CI_Codigo_Postal}"></td>-->
    <!--          -->

    <!--          <td><a th:href="@{/lugar/edit/{id}(id=${lug.CI_Codigo})}"-->
    <!--                 class="btn btn-primary">Actualizar</a> <a-->
    <!--                  th:href="@{/lugar/eliminar/{id}(id=${lug.CI_Codigo})}"-->
    <!--                  class="btn btn-danger">Eliminar</a></td>-->
    <!--        </tr>-->
    <!--        </tbody>-->

    <!--      </table>-->

    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
</body>

</html>