<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imputado Mantenimiento</title>
	<th th:insert="~{header}"></th>
</head>
<body onload="noBack();">

	
<main class="page registration-page">
	<section class="clean-block clean-form dark">
		<div class="container justify-content-center">
			<div class="block-heading">
				<h2 class="text-info">Actualizar Imputado</h2>
			</div>
			<form th:action="@{/imputados/{id} (id=${imputado.CI_Id})}" th:object="${imputado}" method="post" class="mw-100 m-3">
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Dni del imputado</label><input
								th:name="dni" th:field="*{CVDni}" id="name" class="form-control item" type="text"
								minlength="1" maxlength="50" required pattern="[0-9]+"
								placeholder="Digite el DNI del imputado"/></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Nombre del imputado</label><input
								th:name="nombre" th:field="*{CVNombre}" id="name-1" class="form-control item"
								type="text" minlength="1" maxlength="50" required
								placeholder="Digite el nombre del imputado"/></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Edad del imputado</label><input
								th:name="edad" th:field="*{CIEdad}" id="name-2" class="form-control item" type="text"
								minlength="1" maxlength="50" required
								placeholder="Digite la edad del imputado" pattern="[0-9]+"/></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Lugar de nacimiento del
							imputado</label><input th:name="lugarNacimiento" th:field="*{CVLugarNacimiento}" id="name-3"
												   class="form-control item" type="text" minlength="1"
												   maxlength="50" required
												   placeholder="Digite el lugar de nacimiento del imputado"/></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Nacionalidad del
							imputado</label><input th:name="nacionalidad" th:field="*{CVNacionalidad}" id="name-4"
												   class="form-control item" type="text" minlength="1"
												   maxlength="50" required
												   placeholder="Digite la nacionalidad del imputado"/></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Condicion migratoria del
							imputado</label><input th:name="condicionMigratoria" th:field="*{CVCondicionMigratoria}"
												   id="name-5" class="form-control item" type="text" minlength="1"
												   maxlength="50" required
												   placeholder="Digite la condicion migratoria del imputado"/></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Lugar de residencia del
							imputado</label><input th:name="lugarResidencia" th:field="*{CVLugarResidencia}" id="name-6"
												   class="form-control item" type="text" minlength="1"
												   maxlength="50" required
												   placeholder="Digite el lugar de residencia del imputado"/></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Ocupacion del imputado</label><input
								th:name="ocupacion" th:field="*{CVOcupacion}" id="name-7" class="form-control item"
								type="text" minlength="1" maxlength="50" required
								placeholder="Digite la ocupacion del imputado"/></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Etnia del imputado</label><input
								th:name="etnia" th:field="*{CVEtnia}" id="name-8" class="form-control item" type="text"
								minlength="1" maxlength="50" required
								placeholder="Digite la etnia del imputado"/></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Estado Conyugal del imputado</label><input
								th:name="estadoConyugal" th:field="*{CVEstadoConyugal}" id="name-9"
								class="form-control item" type="text" minlength="1" maxlength="50" required
								placeholder="Digite el estado conyugal del imputado"/></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione la identidad de genero
							del imputado</label><select th:name="identidadGenero" th:field="*{CVGenero}" id="name-10"
														class="form-select" required>
							<optgroup label="Identidades de genero">
								<option th:each="identidad: ${identidadGenero}" th:value="${identidad.nombre}"
										th:text="${identidad.nombre}"></option>
							</optgroup>
						</select></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione la orientacion sexual del
							imputado</label>
							<select th:name="orientacionSexual" th:field="*{CVOrientacionSexual}"
							id="name-11" class="form-select" required>
							<optgroup label="Orientaciones Sexuales">
								<option th:each="orientacionsexual: ${orientacionSexual}"
										th:value="${orientacionsexual.CVTitulo}"
										th:text="${orientacionsexual.CVTitulo}"></option>
							</optgroup>
						</select>
						</div>
					</div>
						
					</div>
					
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione el nivel educativo del
							imputado</label><select th:name="nivelEducativo" th:field="*{CVEducacion}" id="name-12"
													class="form-select" required>
							<optgroup label="Niveles educativos">
								<option th:each="educacion: ${nivelEducativo}" th:value="${educacion.CVTitulo}"
										th:text="${educacion.CVTitulo}"></option>
							</optgroup>
						</select></div>
					</div>
					<div class="col">
							<div class="mb-3 mx-3">
								<label class="form-label" for="name">Seleccione el Sexo
									del imputado</label> <select th:name="sexo" th:field="*{CVSexo}"
									id="name-11" class="form-select" required>
									<optgroup label="Sexo">
										<option value="F">Femenino</option>
										<option value="M">Masculino</option>
									</optgroup>
								</select>
							</div>
						</div>
					
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
		
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione el organismo generador de
							datos</label><select th:name="organismo" th:field="*{CVGenerador}" id="name-15" class="form-select" required>
							<optgroup label="Organismos">
								<option th:each="organismo: ${listaOrganismo}" th:value="${organismo.CVNombre}"
										th:text="${organismo.CI_Id} + ' - ' + ${organismo.CVNombre}"></option>
							</optgroup>
						</select></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione si posee permiso de
							portacion de armas</label><select th:name="portacion" th:field="*{CVPermisoPortacionArmas}" id="name-16" class="form-select" required>
							<optgroup label="Permiso de portacion de armas">
								<option th:value="Si">Si</option>
								<option th:value="No">No</option>
							</optgroup>
						</select></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione si tiene pertenencia a
							alguna fuerza de seguridad</label><select th:name="pertenencia" th:field="*{CVPertenenciaFuerzaSeguridad}" id="name-17" class="form-select" required>
							<optgroup label="Pertenencia fuerza publica">
								<option th:value="Si">Si</option>
								<option th:value="No">No</option>
							</optgroup>
						</select></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione si posee
							antecedentes</label><select th:name="antecendentes" th:field="*{CVAntecedentes}" id="name-18" class="form-select" required>
							<optgroup label="Antecedentes">
								<option th:value="Si">Si</option>
								<option th:value="No">No</option>
							</optgroup>
						</select></div>
					</div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione si ha tenido tentativa de
							suicidio</label><select th:name="tentativa" th:field="*{CVSuicidio}" id="name-19" class="form-select" required>
							<optgroup label="Tentativa de suicidio">
								<option th:value="Si">Si</option>
								<option th:value="No">No</option>
							</optgroup>
						</select></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Digite el domicilio del
							imputado</label><input th:name="domicilio" th:field="*{CVDomicilio}" id="name-20" class="form-control item" type="text" minlength="1"
												   maxlength="50" required
												   placeholder="Digite el domicilio del imputado"/></div>
					</div>
				<div class="col">
						<div class="mb-3 mx-3"><label class="form-label" for="name">Seleccione la situacion juridica del
							imputado</label><select th:name="situacionJuridica" th:field="*{CVSituacionJuridica}"
													id="name-13" class="form-select" required>
							<optgroup label="Situaciones Juridicas">
								<option th:each="situacion: ${situacionJuridica}" th:value="${situacion.CVTitulo}"
										th:text="${situacionStat.count} + ' - ' + ${situacion.CVTitulo}"></option>
							</optgroup>
						</select></div>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col">
						<div class="d-flex justify-content-center mb-3 mx-3">
							<button class="btn btn-primary" type="submit">Actualizar</button>
						</div>
					</div>
					
				</div>
			</form>
		</div>
	</section>
</main>



<script type="text/javascript">
		//Para que no pueda retroceder una vez editó el imputado
		// y en la etiqueta body arriba se agrega el evento onload="noBack();"

    function noBack() {
        window.history.forward();
    }

    window.onload = noBack;
    window.onpageshow = function(evt) {
        if (evt.persisted) noBack();
    };
    window.onunload = function() {
        null;
    };
</script>

<!--<div class="row">-->
<!--		<div class="col-md-12">-->
<!--			<ul class="nav nav-pills flex-column flex-sm-row">-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link active" href="#">Inicio</a>-->
<!--				</li>-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link" th:href="@{/imputados}">Imputados</a>-->
<!--				</li>-->
<!--		-->
<!--			</ul>-->
<!--		</div>-->
<!--	</div>-->
<!--<br>-->
<!--<br>-->
<!--	<div class = "container">-->
<!--		<div class = "row">-->
<!--			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">-->
<!--				<h1 class = "text-center"> Actualizar imputado </h1>-->
<!--				<div class = "card-body">-->
<!--					<form th:action="@{/imputados/{id} (id=${imputado.CI_Id})}" th:object = "${imputado}" method="POST">-->
<!--						<div class ="form-group">-->
<!--							<label>DNI del Imputado </label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "DNI"-->
<!--							th:field = "*{CVDni}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite el DNI del imputado"-->
<!--							minlength="1"-->
<!--							maxlength="50"-->
<!--                            required -->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Nombre del Imputado </label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "nombre"-->
<!--							th:field = "*{CVNombre}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite el nombre del imputado" -->
<!--							maxlength="50"-->
<!--							minlength="1"-->
<!--                            required -->
<!--							/>-->
<!--						</div>-->



<!--						<div class ="form-group">-->
<!--							<label>Seleccione la identidad de genero del imputado:</label>-->
<!--							<select name="identidad" th:field="*{CVGenero}" class = "form-control" onfocus="ocultarError()">-->
<!--								<option th:each="identidad: ${identidadGenero}" th:value="${identidad.id}" th:text="${identidad.nombre}"></option>-->
<!--							</select>-->
<!--						</div>-->

<!--						<div class ="form-group">-->
<!--							<label>Seleccione la orientacion sexual del imputado:</label>-->
<!--							<select name="orientacionSexual" th:field="*{CVOrientacionSexual}" class = "form-control" onfocus="ocultarError()">-->
<!--								<option th:each="orientacionSexual: ${orientacionSexual}" th:value="${orientacionSexual.CI_Codigo}" th:text="${orientacionSexual.CVTitulo}"></option>-->
<!--							</select>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Edad del Imputado </label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "Edad"-->
<!--							th:field = "*{CIEdad}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite la edad del imputado" -->
<!--							maxlength="10"-->
<!--							minlength="1"-->
<!--                            required -->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Lugar de nacimiento del Imputado </label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "Lugar de nacimiento"-->
<!--							th:field = "*{CVLugarNacimiento}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite el lugar de nacimiento del imputado" -->
<!--							maxlength="50"-->
<!--							minlength="1"-->
<!--                            required -->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Codigo pais del Imputado </label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "Codigo pais"-->
<!--							th:field = "*{CVPais}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite el codigo pais del imputado" -->
<!--							maxlength="20"-->
<!--							minlength="1"-->
<!--                            required -->
<!--							/>-->
<!--						</div>-->

<!--						<div class ="form-group">-->
<!--							<label>Nacionalidad del Imputado</label>-->
<!--							<input-->
<!--									type = "text"-->
<!--									name = "nacionalidad"-->
<!--									th:field = "*{CVNacionalidad}"-->
<!--									class = "form-control"-->
<!--									placeholder="Digite la nacionalidad del imputado"-->
<!--									minlength="1"-->
<!--									maxlength="50"-->
<!--									required-->
<!--							/>-->
<!--						</div>-->

<!--						<div class ="form-group">-->
<!--							<label>Seleccione el nivel educativo del imputado:</label>-->
<!--							<select name="educacion" th:field="*{CVEducacion}" class = "form-control" onfocus="ocultarError()">-->
<!--								<option th:each="educacion: ${nivelEducativo}" th:value="${educacion.CI_Id}" th:text="${educacion.CVTitulo}"></option>-->
<!--							</select>-->
<!--						</div>-->

<!--						<div class ="form-group">-->
<!--							<label>Ocupacion del Imputado </label>-->
<!--							<input-->
<!--									type = "text"-->
<!--									name = "ocupacion"-->
<!--									th:field = "*{CVOcupacion}"-->
<!--									class = "form-control"-->
<!--									placeholder="Digite la ocupacion del imputado"-->
<!--									minlength="1"-->
<!--									maxlength="50"-->
<!--									required-->
<!--							/>-->
<!--						</div>-->

<!--						<div class ="form-group">-->
<!--							<label>Domicilio del Imputado </label>-->
<!--							<input-->
<!--									type = "text"-->
<!--									name = "domicilio"-->
<!--									th:field = "*{CVDomicilio}"-->
<!--									class = "form-control"-->
<!--									placeholder="Digite el domicilio del imputado"-->
<!--									minlength="1"-->
<!--									maxlength="255"-->
<!--									required-->
<!--							/>-->
<!--						</div>-->

<!--						<div class ="form-group">-->
<!--							<label>Lugar de residencia del Imputado </label>-->
<!--							<input-->
<!--									type = "text"-->
<!--									name = "residencia"-->
<!--									th:field = "*{CVLugarResidencia}"-->
<!--									class = "form-control"-->
<!--									placeholder="Digite la residencia del imputado"-->
<!--									minlength="1"-->
<!--									maxlength="50"-->
<!--									required-->
<!--							/>-->
<!--						</div>-->

<!--						<div class ="form-group">-->
<!--							<label>Condicion migratoria del Imputado </label>-->
<!--							<input-->
<!--									type = "text"-->
<!--									name = "condicion"-->
<!--									th:field = "*{CVCondicionMigratoria}"-->
<!--									class = "form-control"-->
<!--									placeholder="Digite el status migratorio del imputado"-->
<!--									minlength="1"-->
<!--									maxlength="50"-->
<!--									required-->
<!--							/>-->
<!--						</div>-->

<!--						<div class ="form-group">-->
<!--							<label>Etnia del Imputado </label>-->
<!--							<input-->
<!--									type = "text"-->
<!--									name = "etnia"-->
<!--									th:field = "*{CVEtnia}"-->
<!--									class = "form-control"-->
<!--									placeholder="Digite la etnia del imputado"-->
<!--									minlength="1"-->
<!--									maxlength="50"-->
<!--									required-->
<!--							/>-->
<!--						</div>-->
<!--						<div class ="form-group">-->
<!--							<label>Seleccione la situacion juridica del imputado:</label>-->
<!--							<select name="situacionJuridica" th:field="*{CVSituacionJuridica}" class = "form-control" onfocus="ocultarError()">-->
<!--								<option th:each="situacion: ${situacionJuridica}" th:value="${situacion.CI_Codigo}" th:text="${situacion.CVTitulo}"></option>-->
<!--							</select>-->
<!--						</div>-->

<!--						<div class ="form-group">-->
<!--							<label>Estado conyugal del Imputado </label>-->
<!--							<input-->
<!--									type = "text"-->
<!--									name = "estado"-->
<!--									th:field = "*{CVEstadoConyugal}"-->
<!--									class = "form-control"-->
<!--									placeholder="Digite el estado conyugal del imputado"-->
<!--									minlength="1"-->
<!--									maxlength="50"-->
<!--									required-->
<!--							/>-->
<!--						</div>-->

<!--						<div class ="form-group ">-->
<!--							<label>Posee permiso de portacion de armas?</label>-->
<!--							<select name="PermisoPortacionArmas" th:field="*{CVPermisoPortacionArmas}"onfocus="ocultarError()" class="form-control">-->
<!--								<option value="SI">SI</option>-->
<!--								<option value="NO">NO</option>-->
<!--							</select>-->
<!--						</div>-->

<!--						<div class ="form-group ">-->
<!--							<label>Pertenencia a alguna Fuerza de Seguridad?</label>-->
<!--							<select name="PermisoPortacionArmas" th:field="*{CVPertenenciaFuerzaSeguridad}" onfocus="ocultarError()" class="form-control">-->
<!--								<option value="SI">SI</option>-->
<!--								<option value="NO">NO</option>-->
<!--							</select>-->
<!--						</div>-->

<!--						<div class ="form-group ">-->
<!--							<label>Posee antecedentes?</label>-->
<!--							<select name="PermisoPortacionArmas" th:field="*{CVAntecedentes}"onfocus="ocultarError()" class="form-control">-->
<!--								<option value="SI">SI</option>-->
<!--								<option value="NO">NO</option>-->
<!--							</select>-->
<!--						</div>-->

<!--						<div class ="form-group">-->
<!--							<label>Ha tenido tentativa de suicidio?</label>-->
<!--							<select name="PermisoPortacionArmas" th:field="*{CVSuicidio}"onfocus="ocultarError()" class="form-control">-->
<!--								<option value="SI">SI</option>-->
<!--								<option value="NO">NO</option>-->
<!--							</select>-->
<!--						</div>-->

<!--						<div class ="form-group">-->
<!--							<label>Organismo generador</label>-->
<!--							<select name="generador" th:field="*{CVGenerador}" class = "form-control" onfocus="ocultarError()">-->
<!--								<option th:each="organismo: ${listaOrganismo}" th:value="${organismo.CI_Id}" th:text="${organismo.CI_Id} + ' - ' + ${organismo.CVNombre}"></option>-->
<!--							</select>-->
<!--						</div>-->
<!--						-->
<!--						<div class = "box-footer">-->
<!--							<button type="submit" class = "btn btn-primary">-->
<!--								Actualizar datos-->
<!--							</button>-->
<!--						</div>-->
<!--					</form>-->
<!--				-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
</body>
</html>