<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hechos</title>
    <script th:src="@{/HechoScripts/HechoScript.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <th th:insert="~{header}"></th>
</head>

<body onload="ocultarError()">

    <main class="page">
        <section class="p-5">


            <div class="container-fluid">
                <div class="card">
                    <div class="card-header py-3">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-5 col-md-6 text-start pt-1 pb-1">
                                <p class="text-primary m-0 fw-bold">Hechos</p>
                            </div>
                            <div class="col-12 col-sm-7 col-md-6 text-end pt-1 pb-1"><a th:href="@{/hechos/new}"
                                    class="btn btn-primary btn-sm reset m-1">Crear
                                    Hecho</a></div>
                        </div>
                    </div>
                    <div id="error-message" th:if="${error}" class="alert alert-danger" role="alert">
                        <p th:text="${error_message}"></p>
                    </div> 
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive max-height-table">
                                <table class="table table-striped" id="ipi-table">
                                    <thead class="thead-dark">
                                        <tr> 
                                            <th class="text-center">TipoVictima</th>
                                            <th class="text-center">TipoRelacion</th>
                                            <th class="text-center">Modalidad o Método</th>
                                            <th class="text-center">Victima</th>
                                            <th class="text-center">AgresionSexual</th>
                                            <th class="text-center">DenunciaPrevia</th>
                                            <th class="text-center">Fecha</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr th:each="hecho: ${hechos}">
                                            <td th:text="${tipoVictimas.get(hechoStat.index).CVTitulo}"></td>
                                            <td th:text="${tipoRelaciones.get(hechoStat.index).CVTitulo}"></td>
                                            <td th:text="${modalidades.get(hechoStat.index).CVTitulo}"></td>
                                            <td th:text="${victimas.get(hechoStat.index).CVDNI}"></td>

                                            <td th:text="${hecho.CVAgresionSexual}"></td>
                                            <td th:text="${hecho.CVDenunciaPrevia}"></td>
                                            <td th:text="${hecho.CDFecha}"></td>

                                            <td class="text-center align-middle h-50">
                                                <form th:action="@{/redireccionarAccionesHecho}" method="post">
                                                    <select class="form-control" name="opcion"
                                                        onchange="this.form.submit()">
                                                        <option value="" disabled selected>Relaciones</option>
                                                        <option th:value="${hecho.CI_Id} + '-agregarLugar'"> Agregar
                                                            Lugar
                                                        </option>
                                                        <option th:value="${hecho.CI_Id} + '-mostrarLugar'"> Mostrar
                                                            Lugares
                                                        </option>
                                                        <option th:value="${hecho.CI_Id} + '-agregarImputado'"> Agregar
                                                            Imputado
                                                        </option>
                                                        <option th:value="${hecho.CI_Id} + '-mostrarImputado'"> Mostrar
                                                            Imputados
                                                        </option>
                                                        <option th:value="${hecho.CI_Id} + '-agregarOrganismo'"> Agregar
                                                            Organismo
                                                        </option>
                                                        <option th:value="${hecho.CI_Id} + '-mostrarOrganismo'"> Mostrar
                                                            Organismo
                                                        </option>
                                                    </select>
                                                </form>
                                                <a class="btn btnMaterial btn-flat success" role="button"
                                                    th:href="@{/hechos/edit/{id}(id=${hecho.CI_Id})}">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a class="btn btnMaterial btn-flat accent btnNoBorders checkboxHover ms-1"
                                                    role="button" th:href="@{/hechos/{id}(id=${hecho.CI_Id})}">
                                                    <i class="fas fa-trash btnNoBorders"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <nav>
                            <ul class="pagination pagination-sm mb-0 justify-content-center">
                                <li class="page-item"><a class="page-link" aria-label="Previous"
                                        th:href="@{/hechos}"><span aria-hidden="true">«</span></a></li>
                                <li th:each="nPagina : ${nPaginas}" class="page-item"
                                    th:class="${PaginaActual == nPaginaStat.count ? 'active' : ''}"><a
                                        th:text="${nPaginaStat.count}" class="page-link" aria-label="Next"
                                        th:href="@{/hecho/{pg}(pg=${nPaginaStat.count})}"><span
                                            aria-hidden="true"></span></a>
                                </li>
                                <li class="page-item"><a class="page-link" aria-label="Next"
                                        th:href="@{/hecho/{pg}(pg=${nPaginas.size()})}"><span
                                            aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- boton para descargar el pdf -->
            <a th:href="@{/hechos/pdf}" class="btn btn-primary">Descargar PDF</a>

            <a th:href="@{/hechos/excel}" class="btn btn-primary">Descargar Excel</a>

        </section>
    </main>


   
    <!--<div class="container-fluid">-->

    <!--    <div class="alert alert-primary" role="alert">-->
    <!--        Hechos-->
    <!--    </div>-->

    <!--    <div class="row">-->
    <!--        <div class="col-md-12">-->

    <!--            <a th:href = "@{/hechos/new}" class = "btn btn-primary btn-lg"> Agregar Hechos</a>-->

    <!--            <div class = "row"> <h1></h1> </div>-->
    <!--            <div class = "row"> <h1></h1> </div>-->

    <!--            <div id="error-message" th:if="${error}" class="alert alert-danger" role="alert">-->
    <!--                <p th:text="${error_message}"></p>-->
    <!--            </div>-->

    <!--            <table class="table table-striped table-sm">-->
    <!--                <tr>-->
    <!--                    <th> TipoVictima </th>-->
    <!--                    <th> TipoRelacion </th>-->
    <!--                    <th> Modalidad </th>-->
    <!--                    <th> Victima </th>-->
    <!--                    <th> Proceso </th>-->
    <!--                    <th> Pais </th>-->
    <!--                    <th> AgresionSexual </th>-->
    <!--                    <th> DenunciaPrevia </th>-->
    <!--                    <th> Generador </th>-->
    <!--                    <th> Fecha </th>-->
    <!--                    <th> Detalles </th>-->
    <!--                    <th> Acciones </th>-->
    <!--                </tr>-->

    <!--                <tbody>-->
    <!--                <tr th:each = "hecho: ${hechos}">-->
    <!--                    <td th:text = "${tipoVictimas.get(hechoStat.index).CVTitulo}"></td>-->
    <!--                    <td th:text = "${tipoRelaciones.get(hechoStat.index).CVTitulo}"></td>-->
    <!--                    <td th:text = "${modalidades.get(hechoStat.index).CVTitulo}"></td>-->
    <!--                    <td th:text = "${victimas.get(hechoStat.index).CVDNI}"></td>-->
    <!--                    <td th:text = "${procesosJudiciales.get(hechoStat.index).CIDenunciante}"></td>-->
    <!--                    <td th:text = "${hecho.CIPais}"></td>-->
    <!--                    <td th:text = "${hecho.CVAgresionSexual}"></td>-->
    <!--                    <td th:text = "${hecho.CVDenunciaPrevia}"></td>-->
    <!--                    <td th:text = "${organismos.get(hechoStat.index).CVNombre}"></td>-->
    <!--                    <td th:text = "${hecho.CDFecha}"></td>-->
    <!--                    <td th:text = "${hecho.CVDetalles}"></td>-->
    <!--                    <td>-->

    <!--                        <div class="d-flex justify-content-between" >-->
    <!--                            <form th:action="@{/redireccionarAccionesHecho}" method="post">-->
    <!--                                <select class="form-control" name="opcion" onchange="this.form.submit()">-->
    <!--                                    <option value="" disabled selected>Acciones</option>-->
    <!--                                    <option th:value="${hecho.CI_Id} + '-agregarLugar'"> Agregar Lugar</option>-->
    <!--                                    <option th:value="${hecho.CI_Id} + '-mostrarLugar'"> Mostrar Lugares</option>-->
    <!--                                    <option th:value="${hecho.CI_Id} + '-agregarImputado'"> Agregar Imputado</option>-->
    <!--                                    <option th:value="${hecho.CI_Id} + '-mostrarImputado'"> Mostrar Imputados</option>-->
    <!--                                    <option th:value="${hecho.CI_Id} + '-agregarOrganismo'"> Agregar Organismo</option>-->
    <!--                                    <option th:value="${hecho.CI_Id} + '-mostrarOrganismo'"> Mostrar Organismo</option>-->
    <!--                                </select>-->
    <!--                            </form>-->
    <!--                            <a th:href = "@{/hechos/edit/{id}(id=${hecho.CI_Id})}"-->
    <!--                               class = "btn btn-primary">Actualizar</a>-->

    <!--                            <a th:href = "@{/hechos/{id}(id=${hecho.CI_Id})}"-->
    <!--                               class = "btn btn-danger">Eliminar</a>-->
    <!--                        </div>-->

    <!--                    </td>-->
    <!--                </tr>-->
    <!--                </tbody>-->

    <!--            </table>-->

    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
</body>

</html>