<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProcesoJudicial Mantenimiento</title>
    <th th:insert="~{header}"></th>
</head>
<body>
<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Crear Proceso Judicial</h2>
            </div>
            <form th:action="@{/procesosJudiciales}" th:object="${procesoJudicial}" method="POST">
                <div class="mb-3"><label class="form-label" for="name">Estado del proceso judicial</label><input
                        id="name" th:field="*{CVEstado}" class="form-control item" type="text"
                        placeholder="Digite el estado del proceso judicial" required minlength="1" maxlength="50"/>
                </div>

                <div class="mb-3"><label class="form-label" for="name">Tipo de delito</label><input
                        id="name-2" th:field="*{CVTipoDelito}" class="form-control item" type="text"
                        placeholder="Digite el tipo de delito" required minlength="1" maxlength="30"/></div>

                <div class="mb-3"><label class="form-label" for="name">Personas Imputadas</label><input
                        id="name-4" th:field="*{CIPersonasImputadas}" class="form-control item" type="text"
                        placeholder="Digite la cantidad de personas imputadas" required minlength="1" maxlength="10"/>
                </div>
                <div class="mb-3"><label class="form-label" for="name">Agravantes</label><input
                        id="name-5" th:field="*{CVAgravantes}" class="form-control item" type="text"
                        placeholder="Digite los agravantes del proceso judicial" required minlength="1" maxlength="50"/>
                </div>
<!--                <div class="mb-3"><label class="form-label" for="name">Fecha de apertura</label><input-->
<!--                        id="name-6" th:field="*{CDFechaApertura}" class="form-control item" type="date"-->
<!--                        placeholder="Seleccione la fecha de apertura del proceso judicial" required minlength="1"-->
<!--                        maxlength="50"/></div>-->
                <button class="btn btn-primary" type="submit">Agregar</button>
            </form>
        </div>
    </section>
</main>

<!--<div class="row">-->
<!--		<div class="col-md-12">-->
<!--			<ul class="nav nav-pills flex-column flex-sm-row">-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link" href="#">Inicio</a>-->
<!--				</li>-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link active" th:href="@{/procesosJudiciales}">ProcesosJudiciales</a>-->
<!--				</li>-->
<!--		-->
<!--			</ul>-->
<!--		</div>-->
<!--	</div>-->

<!--<br>-->
<!--<br>-->
<!--	<div class = "container">-->
<!--		<div class = "row">-->
<!--			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">-->
<!--				<h1 class = "text-center">Crear proceso judicial</h1>-->
<!--				<div class = "card-body">-->
<!--					<form th:action="@{/procesosJudiciales}" th:object = "${procesoJudicial}" method="POST">-->
<!--						<div class ="form-group">-->
<!--							<label>Estado del proceso judicial</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "estado"-->
<!--							th:field = "*{CVEstado}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite el estado del proceso judicial"-->
<!--							maxlength="50"-->

<!--                    		required -->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>DNI del denunciante</label>-->
<!--							<input-->
<!--							type = "number"-->
<!--							name = "denunciante"-->
<!--							th:field = "*{CIDenunciante}"-->
<!--							class = "form-control"-->
<!--							placeholder="Digite DNI del denunciante"-->
<!--							maxlength="10"-->
<!--							pattern="[0-9]"-->
<!--                    		required -->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Personas imputadas</label>-->
<!--							<input-->
<!--							type = "number"-->
<!--							name = "imputados"-->
<!--							th:field = "*{CIPersonasImputadas}"-->
<!--							class = "form-control"-->
<!--							placeholder="Cantidad de personas imputadas" -->
<!--							maxlength="10"-->
<!--							pattern="[0-9]"-->
<!--                    		required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Agravantes</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "agravantes"-->
<!--							th:field = "*{CVAgravantes}"-->
<!--							class = "form-control"-->
<!--							placeholder="Agravantes del caso" -->
<!--							maxlength="50"-->
<!--                    		required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Partes</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "partes"-->
<!--							th:field = "*{CVPartes}"-->
<!--							class = "form-control"-->
<!--							placeholder="Partes intervenientes" -->
<!--							maxlength="20"-->
<!--                    		required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class ="form-group">-->
<!--							<label>Tipo de delito</label>-->
<!--							<input-->
<!--							type = "text"-->
<!--							name = "tipoDelito"-->
<!--							th:field = "*{CVTipoDelito}"-->
<!--							class = "form-control"-->
<!--							placeholder="Tipo de delito" -->
<!--							maxlength="30"-->
<!--                    		required-->
<!--							/>-->
<!--						</div>-->
<!--						-->
<!--						<div class = "box-footer">-->
<!--							<button type="submit" class = "btn btn-primary">-->
<!--								Agregar-->
<!--							</button>-->
<!--						</div>-->
<!--					</form>-->
<!--				-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
</body>
</html>