<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Actualizar Orientacion Sexual</title>
  <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills flex-column flex-sm-row">
				<li class="nav-item">
					<a class="nav-link active" href="#">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/orientacionessexuales}">Orientaciones Sexuales</a>
				</li>
		
			</ul>
		</div>
	</div>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Actualizar orientacion sexual </h1>
				<div class = "card-body">
					<form th:action="@{/orientacionesSexuales/{id} (id=${orientacion.CI_Codigo})}" th:object = "${orientacion}" method="POST">
						<div class ="form-group">
							<label>Titulo</label>
							<input
							type = "text"
							name = "titulo"
							th:field = "*{CVTitulo}"
							class = "form-control"
							placeholder="Digite el titulo" 
							required="required" min="1" maxlength="20"/>
						</div>
						
						<div class ="form-group">
							<label>Descripcion</label>
							<input
							type = "text"
							name = "descripcion"
							th:field = "*{CVDescripcion}"
							class = "form-control"
							placeholder="Digite la descripcion" 
							required="required" min="1" maxlength="30"/>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Actualizar datos
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>