<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <title>Header</title>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontAwesome/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontAwesome/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/assets/css/crud-table.css">
</head>
<body>

<th:block th:fragment="nav">

    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar">
        <div class="container"><a class="navbar-brand logo" th:href="@{/inicio}">Femicidios</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item item"><a class="nav-link" th:href="@{/inicio}">Inicio</a></li>
                    <li class="nav-item">

                        <div class="container">
                            <form th:action="@{/redireccionarEntidades}" method="post">
                                <select class="form-control" name="opcion" onchange="this.form.submit()">
                                    <option value="" disabled selected>Entidades</option>
                                    <option value="hecho">Hechos</option>
                                    <option value="imputado">Imputados</option>
                                    <option value="organismo">Organismos</option>
                                    <option value="procesoJudicial">Procesos Judiciales</option>
                                    <option value="lugar">Lugares</option>
                                    <option value="bitacoras">Bitacoras</option>
                                    <option value="victima">Victimas</option>
                                    <option value="usuarios">Usuarios</option>
                                    <option value="perfiles">Perfiles</option>
                                </select>
                            </form>
                        </div>

                    </li>
                    <li class="nav-item">

                        <div class="container">
                            <form th:action="@{/redireccionarCampos}" method="post">
                                <select class="form-control" name="opcion" onchange="this.form.submit()">
                                    <option value="" disabled selected>Campos Codificados</option>
                                    <option value="identidadGenero">Identidades De Genero</option>
                                    <option value="orientacionSexual">Orientaciones Sexuales</option>
                                    <option value="modalidad">Modalidades</option>
                                    <option value="nivelEducativo">Niveles Educativos</option>
                                    <option value="situacionJuridica"> Situaciones Juridicas</option>
                                    <option value="tipoLugar">Tipos De Lugares</option>
                                    <option value="tipoRelacion">Tipos De Relaciones</option>
                                    <option value="tipoVictima">Tipos De Victimas</option>
                                    <option value="tipoOrganismo">Tipos De Organismos</option>

                                </select>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item">

<!--                        <div class="container">-->
<!--                            <form th:action="@{/redireccionarRelaciones}" method="post">-->
<!--                                <select class="form-control" name="opcion" onchange="this.form.submit()">-->
<!--                                    <option value="" disabled selected>Entidades Relacionadas</option>-->
<!--                                    <option value="hechoimputado">Hechos - Imputados</option>-->
<!--                                    <option value="hechoorganismo">Hechos - Organismos</option>-->

<!--                                </select>-->
<!--                            </form>-->
<!--                        </div>-->

<!--                    </li>-->
                    <li class="nav-item ml-auto" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}">Cerrar sesion</a>
                    </li>
                    <li class="nav-item ml-auto" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">Iniciar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


</th:block>


</body>
</html>