<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Header</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<th:block th:fragment="header">
  <header>

    <div>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills flex-column flex-sm-row">
            <li class="nav-item">
              <a class="nav-link active" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/hechos}">Hechos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/tipovictimas}">TipoVictimas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/tiporelaciones}">TipoRelaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/modalidades}">TipoModalidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/lugares}">Lugares</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class = "row"> <h1></h1> </div>
    <div class = "row"> <h1></h1> </div>

  </header>
</th:block>
</body>
</html>