<!DOCTYPE html>
<html>
  <head>
    <title>Acceso denegado</title>
    <th th:insert="~{header}"></th>
  </head>
  <body>

<main class="page">
  <section class="py-5">
    <div class="container">
      <div class="row row-cols-1 d-flex justify-content-center align-items-center">
        <div class="col-md-10 text-center"><img class="img-fluid w-50" src="/assets/img/illustrations/desk.svg" /></div>
        <div class="col text-center">
          <h2 class="display-3 fw-bold mb-4">Sin Acceso</h2>
          <p class="fs-4 text-muted">No tienes acceso a esta pagina</p>
        </div>
      </div>
    </div>
  </section>
</main>

<!--    <h1>Acceso denegado</h1>-->
<!--    <p>El rol del usuario ingresado no tiene acceso a la ventana o acciones de este modulo.</p>-->
<!--    <img src="https://www.tec.ac.cr/sites/default/files/media/accesodenegado.png" alt="Dinosaurio sin internet">-->
  </body>
</html>