<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Actualizar TipoLugar</title>
  <th th:insert="~{header}"></th>
</head>
<body>

<main class="page registration-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Actualizar tipo lugar</h2>
      </div>
      <form th:action="@{/tipolugares/{id} (id=${tipoLugar.CI_Codigo})}" th:object = "${tipoLugar}" method="POST">
        <div class="mb-3"><label class="form-label" for="name">Título de tipo lugar</label><input
                id="name" th:field="*{CVTitulo}" class="form-control item" type="text"
                placeholder="Digite el titulo del tipo lugar" required minlength="1" maxlength="50"/></div>
        <div class="mb-3"><label class="form-label" for="name">Descripción de tipo lugar</label><input
                id="name-1" th:field="*{CVDescripcion}" class="form-control item" type="text"
                placeholder="Digite la descripcion de tipo lugar" required minlength="1" maxlength="75"/></div>
        <button class="btn btn-primary" type="submit">Actualizar</button>
      </form>
    </div>
  </section>
</main>

<!--<div class="row">-->
<!--  <div class="col-md-12">-->
<!--    <ul class="nav nav-pills flex-column flex-sm-row">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link active" href="#">Inicio</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" th:href="@{/tipolugares}">TipoLugares</a>-->
<!--      </li>-->

<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->
<!--<br>-->
<!--<div class = "container">-->
<!--  <div class = "row">-->
<!--    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">-->
<!--      <h1 class = "text-center"> Actualizar tipo de lugar </h1>-->
<!--      <div class = "card-body">-->
<!--        <form th:action="@{/tipolugares/{id} (id=${tipoLugar.CI_Codigo})}" th:object = "${tipoLugar}" method="POST">-->
<!--          <div class ="form-group">-->
<!--            <label>Titulo del tipo de lugar</label>-->
<!--            <input-->
<!--                    type = "text"-->
<!--                    name = "titulo"-->
<!--                    th:field = "*{CVTitulo}"-->
<!--                    class = "form-control"-->
<!--                    placeholder="Digite el titulo del tipo de lugar"-->
<!--                    maxlength="30"-->
<!--                    required -->
<!--            />-->
<!--          </div>-->
<!--          <div class ="form-group">-->
<!--            <label>Descripcion del tipo de lugar</label>-->
<!--            <input-->
<!--                    type = "text"-->
<!--                    name = "descripcion"-->
<!--                    th:field = "*{CVDescripcion}"-->
<!--                    class = "form-control"-->
<!--                    placeholder="Digite la descripcion del tipo de lugar"-->
<!--                    maxlength="80"-->
<!--                   -->
<!--            />-->
<!--          </div>-->

<!--          <div class = "box-footer">-->
<!--            <button type="submit" class = "btn btn-primary">-->
<!--              Actualizar datos-->
<!--            </button>-->
<!--          </div>-->
<!--        </form>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
</body>
</html>